:root {
    --ColorBG:rgb(255, 255, 255);
}

::-moz-selection{           /* Change la couleur quand on surligne un élément */
    background-color : rgb(130, 217, 207);
    color : #fff
  }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    height: 95vh;
    width: 100%;

    background-color: var(--ColorBG);

    font-family: Arial, Helvetica, sans-serif;

    overflow-x: hidden;
    overflow-y: hidden;
}

/* HEADER */

#nav {
    width: 100%;
    height: 8vh;
    
    background-color: #5e9ea1;
    border-radius: 0% 0% 20% 20%;

    display:flex;
    justify-content: center;
    align-items: center;

}

.title {
    margin: 0;
    padding: 0;

    font-size: 1.8rem;

    color: white;
}

#container {    

    padding-top: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btn {
    border-color:cadetblue;
    color: cadetblue;
    background-color: white;

    border-width: 0.3em;
    border-style: dashed solid;
    
    font-size:110%;

    height:8vh;
    width: 60vw;
   
    border-radius: 5px;

    margin: 5vh;

    cursor: pointer;

}
.back{
	color:#fff;
	background-color:#e74c3c;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:20px;
    width: 40vw;
	cursor:pointer;
	position:relative;
}
.back:hover{
    background-color:#e2331f;
    transition: 1s;
}

    .btn:hover{
        border-style: solid;
    }

    .btn:active{
        border-style: solid;
        background-color:cadetblue;
        color: white;
    }

#foot {
    border-top: solid 3px rgba(95, 158, 160, 0.675);

    height: 10vh;

    position:absolute;

    bottom:0;
    
    width:100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(173, 173, 173);
}
